html {
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

header {
    padding: 50px 0 0;
    height: 644px;
}

    header h1 {
        font-size: 50px;
        color: #fffefe;
        text-align: center;
        margin: 175px 0 260px;
        font-weight: 700;
        line-height: 0.8;
    }

footer {
    background: #f2f2f2;
}

    footer h1 {
        font-size: 20px;
        text-align: left;
        color: #979797;
        margin: 32px 0 14px;
        line-height: 0.8;
        font-weight: 300;
        width: 100%;
    }

    footer h2 {
        font-size: 13px;
        color: #00008B;
        line-height: 0.8;
        text-align: left;
        padding: 0 0 1px 15px;
        margin: 0 0 8px;
    }

    footer h6 {
        font-size: 15px;
        color: #00008B;
        float: left;
        clear: both;
        width: 100%;
        font-weight: 400;
        padding: 0 0 0 14px;
    }

    footer p {
        font-size: 12px;
        font-weight: 400;
        color: #7e7e7e;
        margin: 0 0 15px 14px;
    }

        footer p a {
            color: #7e7e7e;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
        }

            footer p a:hover {
                text-decoration: underline;
                color: #7e7e7e;
            }

h1 {
    margin: 28px 0 32px;
    text-align: center;
    font-size: 51px;
    color: #a7a7a7;
    font-weight: 700;
    line-height: 0.8;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    text-align: left;
    color: #979797;
    margin: 32px 0 14px;
    line-height: 0.8;
    font-weight: 300;
    width: 100%;
}

h4 {
    margin: 9px 0 0;
    float: right;
    line-height: 0.8;
    font-size: 17px;
    color: #fffefe;
    font-weight: 400;
    text-shadow: -1px 1px 1px #000;
}

h5 {
    font-size: 21px;
    color: #979797;
    margin: 0 0 35px;
    font-weight: 300;
    line-height: 0.8;
}

h6 {
    font-size: 15px;
    color: #2E3192;
    margin: 0 20px 0 0;
    float: left;
    text-align: left;
    font-weight: 700;
    border-right: 1px solid #fff;
    padding: 0 20px 0 0;
}

.welcome {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    text-shadow: 0px 0px 2px #fff;
}

.pad-port-1 {
    padding: 1%;
}

.pad-port-2 {
    padding: 2%;
}

.pad-port-4 {
    padding: 4%;
}

nav {
    overflow: hidden;
    float: left;
    margin: 5px 0 0;
}

    nav ul {
        margin: 0;
        float: left;
        padding: 0;
    }

    nav li {
        float: left;
        list-style: none;
        margin: 0 10px 0 0;
    }

        nav li.circle {
            width: 5px;
            height: 5px;
            background: #fff;
            border-radius: 50%;
            margin: 5px 10px 0 0;
        }

    nav a {
        font-size: 14px;
        color: #ffffff;
        display: block;
        float: left;
        line-height: 0.8;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

        nav a:hover {
            text-decoration: none;
            color: #fff;
            opacity: 0.5;
        }

aside {
    margin: 30px 0 0;
    overflow: hidden;
}

    aside h1 {
        color: #979797;
        margin: 10px 0 0;
        float: left;
        width: inherit;
    }

    aside ul {
        margin: 0;
        padding: 0;
        float: left;
    }

    aside li {
        list-style: none;
        float: left;
        margin: 12px 0 0 1px;
    }

    aside a {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        width: 37px;
        height: 37px;
        display: block;
    }

        aside a:hover {
            opacity: 0.5;
        }

aside2 {
    margin: 0px 0 0;
    overflow: hidden;
}

    aside2 h1 {
        color: #979797;
        float: left;
        width: 120px;
        padding-top: 10px;
    }

    aside2 a {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        height: 16px;
        display: block;
    }

        aside2 a:hover {
            opacity: 0.5;
        }

select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: button;
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0 0 0;
    -webkit-user-select: none;
    overflow: hidden;
    padding: 5px 10px 5px 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    height: 33px;
}
/* BEGIN REUTILIZABLE */
#nav {
    top: -130px;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100% !important;
    margin: 0 !important;
    max-width: 100%;
    padding: 15px;
    z-index: 1000;
    display: block;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#navAlwaysTop {
    top: 0px;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100% !important;
    margin: 0 !important;
    max-width: 100%;
    padding: 15px;
    z-index: 1000;
    display: block;
}

.nav-down {
}

.nav-up {
    top: 0 !important;
}

    .nav-up #browse {
        background: none;
        overflow: inherit;
    }

    .nav-up .row {
    }

    .nav-up #logo_chelagarto {
        margin-left: 20px;
    }

    .nav-up #sesion {
        margin-right: 30px;
    }

    .nav-up #idiomas {
    }

#header {
    height: 644px;
    width: 100%;
    overflow: hidden;
}

#carousel {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 644px;
}

#slide_1 {
    background: url(../img/bg/header_bg1_1920.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

#slide_2 {
    background: url(../img/bg/header_bg2_1920.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

#slide_3 {
    background: url(../img/bg/header_bg3_1920.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

#slide_4 {
    background: url(../img/bg/header_bg4_1920.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

#slide_5 {
    background: url(../img/bg/header_bg5_1920.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

#slide_6 {
    background: url(../img/bg/DSC6616.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

#slide_7 {
    background: url(../img/bg/DSC6630.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

#slide_c {
    background: url(../img/bg/header_bg_1920.jpg) left top no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.carousel-indicators {
    display: none;
}

#logo_chelagarto {
    display: block;
    width: 122px;
    height: 81px;
    margin: 0 0 0 45px;
}

#browse {
    width: 100%;
    padding: 27px;
    background: white;
    height: 73px;
    background: rgba(255,255,255,0.5);
    text-align: right;
}

#select_ciudad {
    float: left;
    display: block;
    width: 20%;
    margin: 0 2% 0 0;
    position: relative;
    overflow: visible;
}

    #select_ciudad .icon {
        content: "";
        display: block;
        width: 14px;
        height: 20px;
        position: absolute;
        top: 6px;
        left: 7px;
    }

    #select_ciudad button {
        width: 100%;
        border-radius: 0;
        padding: 5px 10px 5px 32px !important;
        background: url(../img/iconos/select_arrow.png) 96% 13px no-repeat !important;
        font-size: 14px;
        color: #ffffff;
        font-weight: 300;
        height: 33px;
        border: 1px solid #8d8e8f;
        text-align: left;
    }

#select_personas button {
    width: 100%;
    border-radius: 0;
    padding: 5px 10px 5px 32px !important;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    height: 33px;
    border: 1px solid #8d8e8f;
    text-align: left;
}

.input_fecha {
    float: left;
    overflow: hidden;
    display: block;
    width: 20%;
    margin: 0 2% 0 0;
    position: relative;
}

    .input_fecha input {
        visibility: hidden;
        background: none;
        width: 100%;
        height: 33px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 300;
        border: 1px solid #8d8e8f;
        border-radius: 0;
        padding: 5px 10px 5px 32px;
    }

    .input_fecha .icon {
        visibility: hidden;
        display: block;
        position: absolute;
        width: 21px;
        height: 20px;
        top: 6px;
        left: 7px;
    }

    .input_fecha input:focus,
    select:focus {
        border: 1px solid #8d8e8f !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .input_fecha input::-webkit-input-placeholder {
        color: #000000;
    }

    .input_fecha input:-moz-placeholder { /* Firefox 18- */
        color: #000000;
        opacity: 1;
    }

    .input_fecha input::-moz-placeholder { /* Firefox 19+ */
        color: #000000;
        opacity: 1;
    }

    .input_fecha input:-ms-input-placeholder {
        color: #000000;
    }

#select_personas {
    float: left;
    overflow: visible;
    display: block;
    width: 17%;
    margin: 0 2% 0 0;
    position: relative;
}

    #select_personas .icon {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        position: absolute;
        top: 8px;
        left: 7px;
    }

.btn {
    float: left;
    width: 15%;
    background: darkblue;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    padding: 7px 0;
    height: 33px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

    .btn:hover {
        background: #056839;
        color: #fff;
    }

#sesion {
    font-size: 10px;
    color: #ffffff;
    float: right;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    margin: 5px 3px 10px 0;
}

    #sesion:hover {
        color: #a6ca3e;
    }

#idiomas {
    float: right;
    clear: both;
    margin: 32px 0;
    padding: 0;
}

    #idiomas li {
        float: left;
        list-style: none;
        margin: 0 3px 0 0;
    }

        #idiomas li:last-child {
            margin: 0;
        }

    #idiomas a {
        display: block;
        font-size: 12px;
        color: #fffefe;
        text-transform: uppercase;
        font-weight: 300;
        background-color: #2E3192;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        text-align: center;
        padding: 3px 0 0;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

        #idiomas a:hover,
        #idiomas a.active {
            background: #8b8b8b;
            text-decoration: none;
        }

#destinos {
    text-align: center;
    position: relative;
}

    #destinos div {
        display: inline-block;
    }

    #destinos ul {
        float: left;
        margin: 0px;
        padding: 0;
    }

    #destinos li {
        float: left;
        list-style: none;
        padding: 0 23px 0 0;
        margin: 0 23px 0 0;
        border-right: 1px solid #fff;
    }

        #destinos li:last-child {
            margin: 0;
            border: none;
        }

        #destinos li.circle {
            width: 7px;
            height: 7px;
            background-color: #2E3192;
            border-radius: 50%;
            margin: 4px 23px 0 0;
        }

    #destinos a {
        font-size: 18px;
        color: #ffffff;
        display: block;
        line-height: 0.8;
        float: left;
        /* font-weight: 600; */
        text-shadow: -1px 1px 1px #000000;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

        #destinos a:hover {
            color: darkblue;
        }

.destinoOption {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -300px;
    border-bottom: 2px solid darkblue;
    display: none;
    bottom: 60px;
    -ms-bottom: 100px;
}

    .destinoOption div {
        overflow: hidden;
        float: left;
        width: 150px;
    }

    .destinoOption a {
        font-size: 14px;
        color: #ffffff;
        font-weight: 300;
        display: block;
        clear: both;
        text-shadow: -1px 1px 1px #000;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        line-height: 0.8;
        margin: 0 0 12px;
        width: 100%;
    }

        .destinoOption a:hover {
            opacity: 0.5;
        }

#destinoOption_a {
}

#destinoOption_b {
    margin: 0 0 0 -185px;
}

#destinoOption_c {
    margin: 0 0 0 -65px;
}

#destinoOption_d {
    margin: 0 0 0 292px;
}

#destinoOption_e {
    margin: 0 0 0 130px;
}

#destinoOption_a::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #a6ca3e;
    position: absolute;
    bottom: -12px;
    left: 127px;
}

#destinoOption_b::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #a6ca3e;
    position: absolute;
    bottom: -12px;
    left: 130px;
}

#destinoOption_c::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #a6ca3e;
    position: absolute;
    bottom: -12px;
    left: 135px;
}

#destinoOption_d::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid darkblue;
    position: absolute;
    bottom: -12px;
    left: 64px;
}

#destinoOption_e::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #a6ca3e;
    position: absolute;
    bottom: -12px;
    left: 130px;
}

#section_destinos {
    padding: 42px 0 0;
}

.separador {
    width: 100%;
    height: 1px;
    clear: both;
    overflow: hidden;
}

.btnPromo {
    background: #f27904;
    font-size: 49px;
    text-align: center;
    color: #ffffff;
    line-height: 1.1;
    font-weight: 400;
    padding: 107px 0 0 !important;
}

    .btnPromo:hover {
        color: #fff;
        text-decoration: none;
    }

.banner_325px {
    display: block;
    width: 100%;
    height: 325px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding: 10px;
    margin: 0 0 30px;
}

    .banner_325px div {
        background: rgba(140, 137, 137, 0.56);
        overflow: hidden;
        width: 100%;
        padding: 10px;
    }

    .banner_325px img {
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

    .banner_325px:hover img {
        right: -3%;
    }

    .banner_325px.animateTop:hover img {
        top: -50% !important;
        right: 0 !important;
    }

.banner_667px {
    display: block;
    width: 100%;
    height: 680px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding: 10px;
    margin: 0 0 17px;
}

    .banner_667px div {
        background-color: rgba(140, 137, 137, 0.56);
        overflow: hidden;
        width: 100%;
        padding: 10px;
    }

    .banner_667px img {
        width: 100%;
        position: absolute;
        right: 25%;
        z-index: -1;
        top: 0;
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -o-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

    .banner_667px:hover img {
        right: -25%;
    }

.banner_263px {
    display: block;
    width: 100%;
    height: 263px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding: 10px;
    margin: 0 0 17px;
}

    .banner_263px div {
        background: rgba(140, 137, 137, 0.56);
        overflow: hidden;
        width: 100%;
        padding: 10px;
    }

    .banner_263px img {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 0;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

    .banner_263px:hover img {
        right: -3%;
    }

#video {
    width: 100%;
    overflow: hidden;
    background: #FCB040;
    padding: 20px 0;
}

#grayBox {
    background: #585858;
    padding: 12px 0 10px;
}

#logoViajar {
    display: block;
    float: left;
}

#franqicia {
    float: right;
    width: 300px;
    text-align: right;
}

    #franqicia p {
        font-size: 13px;
        color: #ffffff;
        margin: 6px 15px 0;
        line-height: 0.8;
        float: left;
    }

    #franqicia .icon {
        background: url(../img/iconos/icon_pregunta.png) left top no-repeat;
        width: 15px;
        height: 25px;
        overflow: hidden;
        float: left;
    }

.separadorFooter {
    width: 100%;
    height: 35px;
    overflow: hidden;
    float: left;
    clear: both;
}

#btnBlog {
    font-size: 16px;
    color: #00008B;
    width: 100%;
    display: block;
    float: left;
    clear: both;
    line-height: 0.8;
    font-weight: 400;
    margin: 0 0 10px;
}

.line {
    width: 100%;
    clear: both;
    overflow: hidden;
    border-bottom: 1px dotted #787878;
    margin: 30px 0;
    float: left;
}

#logoViajarBig {
    width: 243px;
    height: 41px;
    display: block;
    float: left;
    clear: both;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

    #logoViajarBig:hover {
        opacity: 0.5;
    }

.norMargin {
    margin-bottom: 0;
}

.whiteBox {
    background: #fff;
    clear: both;
    float: left;
    width: 100%;
    padding: 15px 0 15px;
}

#logoSecurity {
    margin: 0 35px 0 0;
    overflow: hidden;
    display: block;
    float: right;
}

#logoSinergia {
    display: block;
    float: right;
}

.dropdown-menu {
    padding: 5px 10px;
}

.btnTittle {
    color: #8cb619;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    position: relative;
    padding: 0 0 0 15px;
    line-height: 0.8;
    margin: 10px 0 15px;
    cursor: pointer;
    float: left;
    width: 100%;
    cursor: pointer;
}

    .btnTittle:hover {
        text-decoration: none;
        color: #8cb619;
    }

    .btnTittle::before {
        content: "";
        background: url(../img/iconos/icon_footerarrow.png) left top no-repeat;
        width: 11px;
        height: 11px;
        display: block;
        position: absolute;
        left: 0;
        top: -1px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

    .btnTittle.inactive::before {
        content: "";
        background: url(../img/iconos/icon_footerarrow.png) left top no-repeat;
        width: 11px;
        height: 11px;
        display: block;
        position: absolute;
        left: 0;
        top: -1px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
    }

.responsiveFooterOn div div {
    width: calc(50% - 30px);
    float: left;
    margin: 0 0 0 15px;
}

    .responsiveFooterOn div div a {
        font-size: 12px;
        color: #3d3d3d;
        line-height: 0.8;
        display: block;
        width: 100%;
        margin: 0 0 15px;
    }

        .responsiveFooterOn div div a:hover {
            color: #3d3d3d;
            text-decoration: underline;
        }

#infoBra,
#infoArg,
#infoChi,
#infoUru,
#infoPer {
    display: none;
    width: 100%;
}

.sticky-wrapper {
    height: 0 !important;
}

.noPaddingLeft {
    padding-left: 0 !important;
}

.noMarginBottom {
    margin-bottom: 0;
}

#responsiveNav {
    float: none;
    margin: auto;
}

    #responsiveNav ul:nth-child(1) {
        margin: auto;
        float: none;
        overflow: hidden;
        width: 92%;
    }

    #responsiveNav ul:nth-child(2) {
        margin: auto;
        float: none;
        overflow: hidden;
        width: 90%;
    }

    #responsiveNav ul:nth-child(3) {
        margin: auto;
        float: none;
        overflow: hidden;
        width: 22%;
    }

.picker-switch {
    text-align: center !important;
    width: 100% !important;
}
/* END REUTILIZABLE */

#mejorPrecio {
    cursor: pointer;
}

#mejorPrecioContenedor .tooltip-inner {
    border-radius: 0;
    max-width: 400px !important;
    text-align: left;
    font-size: 12px;
    padding: 20px;
}

    #mejorPrecioContenedor .tooltip-inner .title {
        font-size: 14px;
        color: white;
    }

    #mejorPrecioContenedor .tooltip-inner ul {
        margin: 0;
        padding-left: 15px;
        color: white;
    }

    #mejorPrecioContenedor .tooltip-inner p {
        color: white;
        font-size: 12px;
    }
/*
#mejorPrecioContenedor:hover {
   transition:all 0.3s ease-in-out;
   -webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
   -o-transition:all 0.3s ease-in-out;
   -ms-transition:all 0.3s ease-in-out;
   opacity: 0.5;
}
*/

.circle-pie { /*EDITADO*/
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    margin: 5px 10px 7px 10px;
    float: left;
}

.links-pie {
    float: left;
    line-height: 0.8;
    height: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

    .links-pie a {
        font-size: 14px;
        color: white;
    }

.color_base {
    color: #84bd00;
}





img #logo_chillouthostel {
    width: 122px;
    height: 81px;
}

.fs-19 {
    font-size: 18px;
}

img.logo {
    width: 100%;
    margin: -16px 0 14px -5px;
}

.bg-transp {
    /* background: rgba(11, 118, 246,0.6); */
    border-radius: 22px;
}

.color-db {
    color: darkblue;
}

#destinos {
    height: 100%;
    background: #000000;
    background: rgba(0,0,0, 0.4);
    padding: 20px 0;
}

/*--map start here--*/
.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}
/*--map end here--*/

.overlay {
    background: transparent;
    position: relative;
    /* width: 100%; */
    height: 300px; /* your iframe height */
    top: 300px; /* your iframe height */
    margin-top: -300px; /* your iframe height */
}

.bg-boats {
    background-image: url(../images/bgboats.jpg);
    background-size: cover;
    padding: 0 15px 15px;
}

img.logofooter {
    width: 250px;
}

.separator_footer {
    width: 100%;
    height: 35px;
    overflow: hidden;
    float: left;
    clear: both;
}


#googlemap {
    margin: 0 0 -3px;
}

img.sociallogo {
    height: 32px;
}


.contact-top {
    text-align: center;
}

    .contact-top h1 {
        color: #044772;
        margin-bottom: 0;
    }

.contact-left, .contact-right {
    font-family: 'Microsoft JhengHei';
    font-size: 13px;
    font-weight: bold;
}

.contact {
    padding: 5em 0em 5em 0em;
}

.contact-left input[type="text"] {
    display: inline-block;
    background: #f2fbff;
    border: 1px solid #A3A1A1;
    width: 100%;
    outline: none;
    font-size: 0.95em;
    color: #747577;
    font-weight: 400;
    padding: 13px 15px 13px 15px;
    margin: 0.5em 0em 1.5em 0em;
    border-radius: 5px;
}

.contact-right textarea {
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    display: block;
    height: 205px;
    outline: none;
    font-size: 0.9em;
    background: #f2fbff;
    color: #747577;
    font-weight: 400;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
}
/*facebook custom html*/

.profile-info {
    overflow: hidden;
}

.profile-photo {
    float: left;
    margin: 0 .5em 0 0;
}

    .profile-photo img {
        width: 40px;
        height: 40px;
    }

.profile-name {
    float: left;
    width: 85%;
}

.time-ago {
    color: #999;
}

.profile-message {
    margin: 1em 0;
}

.post-link {
    text-decoration: none;
}

.post-content {
    background: #f6f7f9;
    border: 1px solid #d3dae8;
    overflow: hidden;
}

    .post-content img {
        width: 100%;
    }

.post-status {
    margin: .5em;
    font-weight: bold;
}

.post-picture {
    width: 25%;
    float: left;
}

.post-info {
    width: 70%;
    float: left;
    margin: .5em;
}

.post-info-name {
    font-weight: bold;
}

.post-info-description {
    color: #999;
}

.like-icon {
    background-image: url('images/fb-sprite.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -146px -514px;
    height: 15px;
    width: 13px;
    display: block;
    float: left;
    margin: 2px 5px 0 0;
}

.comment-icon {
    background-image: url('images/fb-sprite.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -160px -514px;
    height: 15px;
    width: 13px;
    display: block;
    float: left;
    margin: 3px 5px 0 0;
}
/*end facebook custom html*/


h2.social {
    margin: 45px 0 45px;
    font-weight: 300;
    line-height: 0.8;
    text-align: center;
    color: #000000;
    text-shadow: 0px 0px 1px #00008B;
}

h3.social {
    /* color: rgb(255,255,255); */
    /* text-shadow: -1px 1px 1px #000000; */
    margin: 32px 0;
}

.bg-orange {
    background: #FCB040;
}

.bg-lightred {
    background: #FA635E;
}

.bg-darkblue {
    background: #0078A6;
}


.socialbox {
    background: rgba(255,255,255,.7);
    padding: 1px 30px;
}

.rating {
    /* text-align: right; */
    /* display: block; */
    float: right;
}

.blueshortline {
    height: 2px;
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #00008B;
    text-align: center;
}

.submit {
    padding: 15px 15px 35px;
}

.contact-main {
    padding: 0 15px;
}

#contactus {
}

#tripadvisorlogo {
    background: #002E63;
    border-radius: 50%;
}

.socialbox {
    font-size: 13px;
}

.submit a {
    margin: 0 40%;
}

img.promoimg {
    width: 100%;
    border-radius: 5px;
    /* float: right; */
    box-shadow: 2px 2px 5px #000;
}

.openingpromo h2 {
    float: left;
    position: absolute;
    margin-left: 12%;
}

.openingpromo div {
    float: right;
    position: absolute;
    text-align: center;
    width: 100%;
    /* vertical-align: bottom; */
    /* height: 100%; */
    margin-top: 39%;
}

.openingpromo {
    margin: 30px;
    text-shadow: -1px 1px 1px rgb(252, 176, 64);
    text-transform: uppercase;
    /* width: 100%; */
}

.spacer {
    margin: 30px;
}

.input_fecha.input_fecha_logo {
    overflow: visible;
}

.margincorrection {
    margin-top: -22px;
}

.border-logo {
    border-top: 15px solid #00AEEF;
    border-bottom: 15px solid #FCB040;
}

.text-white-fire {
    color: #555;
    text-shadow: 0px -2px 6px #f5f5f5;
}

.not-finished {
    display: none;
}

.margincorrection h1 {
    margin: 53px 0 32px;
}

.display-table {
    display: table;
    table-layout: fixed;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.welcome h1 {
    margin: 15px;
}

.max-width-1600 {
    max-width: 1600px;
    margin: auto;
}

#navAlwaysTop #browse {
    background: none;
}

div.booknow {
    text-align: center;
}

iframe.booknow {
    margin-top: 100px;
    max-width: 800px;
    border: none;
    height: 1000px;
    width: 95%;
}

header.booknow {
    background: url(../img/bg/header_bg1_1920.jpg) left top repeat;
}

.logo.logo-booknow {
    margin: 0;
}

.tmpPromo {
    width: 58%;
    float: left;
    overflow: visible;
    display: block;
    margin: 0 0 0 0;
    text-align: center;
}

    .tmpPromo h4 {
        display: inline-block;
        text-shadow: -2px -2px 12px #fff;
        color: rgba(0,0,0,0.8);
        line-height: .9;
        font-weight: 400;
        font-size: 23px;
        float: left;
        margin: 5px;
    }

    .tmpPromo a {
        text-decoration: none;
    }

    .tmpPromo span {
        color: #000;
        padding: 7px;
        line-height: 1;
        border: 1px solid #777;
        border-radius: 1px;
        box-shadow: 0px 0px 2px #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
    }

.promobtn {
    /* margin: 10px 0%; */
    /* float: left; */
    display: inline-block;
}

.bg-dark {
    background: darkslateblue;
    border-top: 15px solid #fff;
}

.bg-yellow {
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #faf8de; /* fallback for old browsers */
     /* Chrome 10-25, Safari 5.1-6 */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: 1px solid #000;
}

#promo .display-cell {
    vertical-align: top;
}

#promo div {
    text-shadow: 2px 2px 5px #000;
}

.tmpPromo.shimmer h4 {
    color: rgba(255,255,255,0.1);
    float: left;
}

.shimmer {
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    /*background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));*/
}

.shimmer {
    background-size: 125px 100%;
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
}

.shimmer {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

.shimmer {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /*background-clip: text;*/
    /* -webkit-text-fill-color: rgba(0,0,0,0.1); */
}

.shimmer {
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.tmpPromo:hover div {
    background-color: rgba(255,255,255,.6);
}

.find-us p {
    font-size: 15px;
    margin-bottom: 0;
}

.find-us h3 {
    color: #555;
    margin-top: 15px;
}

.find-us hr {
    border-color: #777;
}

.find-us h2 {
    text-shadow: 2px 2px 5px #f5f5f5;
}

.alwaysTopMenu a {
    font-size: 18px;
    color: #777;
    margin: 0 10px;
    line-height: 61px;
}

    .alwaysTopMenu a:hover {
        font-weight: 600;
        border-bottom: solid 2px;
        text-decoration: none;
    }

    .alwaysTopMenu a:focus {
        text-decoration: none;
    }

.menu-wrap a {
    color: #b8b7ad;
}

    .menu-wrap a:hover,
    .menu-wrap a:focus {
        color: #a6ca3e;
    }

.content-wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.content {
    position: relative;
    background: #b4bad2;
}

    .content::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
        transition: opacity 0.4s, transform 0s 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

/* Menu Button */
.menu-button {
    position: absolute;
    z-index: 1000;
    padding: 0;
    width: 27px;
    height: 15px;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    right: 40px;
    top: 5px;
}

    .menu-button::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
        content: '';
    }

    .menu-button:hover {
        opacity: 0.6;
    }

/* Close Button */
.close-button {
    width: 1em;
    height: 2em;
    position: absolute;
    right: 85%;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;
}

    .close-button::before,
    .close-button::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #bdc3c7;
    }

    .close-button::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .close-button::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

/* Menu */
.menu-wrap {
    position: fixed;
    z-index: 1001;
    width: 50%;
    height: 1000px;
    background: #ffffff;
    -webkit-transform: translate3d(200%,0,0);
    transform: translate3d(200%,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    top: 0;
}

.menu {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
}

    .menu #idiomas {
        margin: 0 0 20px;
    }

        .menu #idiomas a {
            padding: 7px 0 0;
        }

.icon-list {
    height: 100%;
    width: 100%;
    padding: 0;
}

.icon-list {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

    .icon-list a {
        display: block;
        padding: 0 0 15px;
        -webkit-transform: translate3d(0,500px,0);
        transform: translate3d(0,500px,0);
        text-align: right;
        clear: both;
        width: 100%;
        line-height: 0.8;
        font-size: 13px;
        color: #454545;
        font-weight: 300;
    }

    .icon-list,
    .icon-list a {
        -webkit-transition: -webkit-transform 0s 0.4s;
        transition: transform 0s 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

        .icon-list a:nth-child(2) {
            -webkit-transform: translate3d(0,1000px,0);
            transform: translate3d(0,1000px,0);
        }

        .icon-list a:nth-child(3) {
            -webkit-transform: translate3d(0,1500px,0);
            transform: translate3d(0,1500px,0);
        }

        .icon-list a:nth-child(4) {
            -webkit-transform: translate3d(0,2000px,0);
            transform: translate3d(0,2000px,0);
        }

        .icon-list a:nth-child(5) {
            -webkit-transform: translate3d(0,2500px,0);
            transform: translate3d(0,2500px,0);
        }

        .icon-list a:nth-child(6) {
            -webkit-transform: translate3d(0,3000px,0);
            transform: translate3d(0,3000px,0);
        }

        .icon-list a span {
            margin-left: 10px;
            font-weight: 700;
        }

/* Shown menu */
.show-menu .menu-wrap {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

    .show-menu .icon-list a {
        -webkit-transition-duration: 0.9s;
        transition-duration: 0.9s;
    }

.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.img-fluid {
    display: block;
    max-width: 100%;
    box-shadow: 0 0 3px #ffffff;
}

.bg-charcoalgrey {
    background: #333;
}


.img-fluid:hover {
    box-shadow: 0 0 1px #fff;
}

.pad-bottom-30 {
    padding-bottom: 30px;
}

.glyph-circle {
    color: #fff;
    font-size: 15px;
    margin: 26% 0 0 18%;
}

.glyph-circle-container {
    width: 32px;
    height: 32px;
    background: #002d62;
}